@import "styles/variables";
@import "styles/media";

nav.site-nav {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  @include mobile-wide { gap: 1rem; }
  @include desktop-s { gap: 1.6rem; }

  margin-top: $header-height;
  @include desktop-xl { margin-top: $header-height-xl; }
  padding: 1rem $site-padding;
  background-color: $cyd-light-gray;

  font-size: 1.2rem;
}