@import "styles/variables";
@import "styles/media";

.organizations {
  display: block;

  .table {
    overflow: auto;
  }

  .table-container {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
}