@import "styles/variables";
@import "styles/media";

header.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0;
  padding: 1rem $site-padding;
  width: 100%;

  box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.1);

  background-color: white;
  height: $header-height;
  @include desktop-xl { height: $header-height-xl; }

  .header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .left-side {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      gap: 1rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .org-header {
        display: flex;
        flex-direction: column;

        line-height: 1.2;
        .title { font-weight: 500; }
        .role {
          padding-left: 0.5rem;
          font-weight: 200;
          font-style: italic;
        }
      }
    }

    // nav {
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    //   gap: 1rem;
    // }
  }
}

nav.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}