:root {
  font-size: 1rem;
}

body {
  line-height: 1.5;
  font-weight: 300;
}

p,
li,
h1,
h2,
h3,
h4 {
  margin: 0 0 1.2rem;
  @include desktop-m { margin: 0 0 1.5rem; }
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  overflow-wrap: break-word;
  hyphens: auto;
}

section {
  padding: 1rem $site-padding 2rem;
  @include desktop-xl {
    padding-left: 0;
    padding-right: 0;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: $content-width;
}

// General class styles
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
.no-text {
  font-size: 0;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

// Header styles
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0;
  width: 100%;

  box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.1);

  padding: 1rem $site-padding;
  width: 100%;

  background-color: white;
  height: $header-height;
  @include desktop-xl { height: $header-height-xl; }
  
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .compact-button {
    display: flex;
    @include desktop-s { display: none; }
  }
  .full-button {
    display: none;
    @include desktop-s { display: flex; }
  }
}

// Portal Styles
.header-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include desktop-s { flex-wrap: nowrap; }
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  h1, h2 { margin-bottom: 0; }
  
  // custom MUI icon button styles
  .MuiIconButton-root {
    border: 1px solid;
    border-color: $cyd-light-gray !important;
  }
  .MuiIconButton-root:hover { border-color: transparent !important; }
}

table.min-width {
  margin-bottom: 1.5rem;
  width: auto;
}

.data-grid {
  min-height: 400px;
  width: 100%;
}

.modal-card {
  padding: 9px 18px;
  border-style: dotted;
}

.danger-group {
  margin-bottom: 1rem;
  padding: 1rem;
  border-style: dotted;
  background-color: $cyd-light-gray;

  text-align: center;
}