// Site Colors
// Note: in CSS use "black" and "white"
$cyd-pink: #f33581;
$cyd-dark-pink: #ca285e;
$cyd-purple: #5A5CBF;
$cyd-gray: #dfdcd7;
$cyd-black: #002a3e;
// gradient colors
$gradient1-beg: #feb0ce;
$gradient1-end: #9ad8ef;
$gradient2-beg: #5660bf;
$gradient2-end: #f388b1;

// Size Settings
$header-height: 80px;
$header-height-xl: 100px;
