// Site Colors
// Note: in CSS use "black" and "white"
$cyd-pink: #CC2961;
$cyd-light-pink: #F6C4D7;
$cyd-blue: #1582C5;
$cyd-light-blue: #ACD2EB;
$cyd-purple: #5A5CBF;
$cyd-gray: #dfdcd7;
$cyd-light-gray: #eff4f8;
$cyd-black: #002a3e;

// Size Settings
$header-height: 80px;
$header-height-xl: 100px;
$site-padding: 2vw;
$content-width: 1280px;